
@import "./../var.scss";
@import "./../base.scss";
@import "./../button.scss";
@import "./../logo.scss";
@import "./../link.scss";

.wrap {
    padding: 0px 100px;
}
.page {
    margin: 0 auto;
    width: 1200px;
    max-width: 1600px;
    background-color: $white;
}
.header {
    background-color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner {                                                                    
    background-image: url(./../images/banner.png); 
    height: 400px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
     
}
.nav {
    background-color: $orange;
    display: flex;
    justify-content: space-between;
    padding: 15px 100px;
}
.search-form {
    position: relative;
    &__button {
        position: absolute;
        right: 0px;
        top: 2px;
    }
}  

.row {   
    display: flex;
    justify-content: flex-end; 
    align-items: center;    
    $root: &;
    &__content {
        flex-basis: 50%;
        padding: 20px;
    }
    &__img {
        margin: 20px;
    } 
    &--reverce {
        #{$root}__content {
            order: -2;
        }
    }
} 


